@font-face { 
  font-family: 'Liberation Serif';
  src: url('../../font/LiberationSerif-Regular.woff') format('woff');
  }

@font-face { 
  font-family: 'Liberation Serif Bold';
  src: url('../../font/LiberationSerif-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Mermaid';
    src: url("../../font/Mermaid1001.ttf");}  

  .publicacion_titulo {
    font-family: "Liberation Serif Bold", 'serif';
    font-weight: 700;
    line-height: 36px;
    font-size: 36px;
    color: #162954;
  }

  .titulo_div {
    display: flex;
    border-bottom: 0.8px solid currentColor;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 200px;
    align-self: center;
  }

  .publicacion_body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    line-height: 21.09px;
    font-size: 18px;
    color: rgba(22, 41, 84, 1);
  }

  
  .publicacion_body * {
    font-family: 'Roboto', sans-serif !important;
  }

  .publicacion_body h2 {
    font-size: 21px;
    font-weight: 600;
  }

  .publicacion_body h3 {
    font-size: 20px;
  }

@media (max-width: 500px) {
  .publicacion_body {
    line-height: 19px;
    font-size: 16px;
  }
  .publicacion_body h2 {
    font-size: 21px;
    font-weight: 600;
  }

  .publicacion_body h3 {
    font-size: 20px;
  }
}
  

.publicacion_por {
  font-family: 'Roboto', sans-serif ;
  font-weight: 300;
  line-height: 18,75px;
  font-size: 14px;
  color: rgba(22, 41, 84, 1);
;
}

.tema_titulo > a{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 18,75px !important;
  font-size: 16px;
  color: #162954;
  text-decoration: none;
}

.tema_titulo > a:hover{
  text-decoration: underline;
}

.tema_titulo1 > a{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #162954;
  text-decoration: none;
}

.tema_titulo1 > a:hover{
  text-decoration: underline;
}

.seccion_tema {
  /* margin: 0.5em !important; */
  font-family: "Liberation Serif Bold", 'serif';
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
  color: #162954;
}

.seccion_tema:before{
  content: "";
  position: absolute;
  width: 97px;
  height: 0px;
  top: 41px;
  border-bottom: 0.8px solid currentColor;
}

.divisor_vertical {
  border-left: 1px solid #162954;
}

strong {
  font-weight: 500;
}

.fondo_publicaciones {
  min-height: 80vh;
}

/* body {
  margin-left: 93px;
} */

.boton {
  background: white;
  border-radius: 10px;
  width: 200px;
  color: #162954;
}

.boton:active, .boton:hover {
  border-radius: 10px !important;
  background: #162954;
  color: white;
}

@media (max-width: 992px) {
  .divisor_vertical{
    border-left: none;
  }
/*   body {
    margin-left: 44px;
  } */
}

@media (max-width: 768px) {
  .publicacion_titulo {
    font-family: "Liberation Serif Bold", 'serif';
    font-weight: 700;
    line-height: 24px;
    font-size: 24px;
    color: #162954;
  }
}

@media (max-width: 576px) {
/*   body {
    margin-left: 0px;
  } */
  
}